#jinja2: lstrip_blocks: True, trim_blocks: True, keep_trailing_newline: True
import os
basedir = os.path.abspath(os.path.dirname(__file__))

{% for key, value in global.iteritems() %}
{% if value == "true" or value == "false" or value is number %}
{{ key | upper }} = {{ value }}
{% else %}
{{ key | upper }} = "{{ value }}"
{% endif %}
{% endfor %}

{% for key, value in database.iteritems() %}
{% if value == "true" or value == "false" or value is number %}
{{ key | upper }} = {{ value }}
{% else %}
{{ key | upper }} = "{{ value }}"
{% endif %}
{% endfor %}

{% for auth in authentications.values() %}
{% for key, value in auth.items() %}
{% if value == "true" or value == "false" or value is number %}
{{ key | upper }} = {{ value }}
{% else %}
{{ key | upper }} = "{{ value }}"
{% endif %}
{% endfor %}
{% endfor %}

{% for key, value in powerdns.iteritems() %}
{% if value == "true" or value == "false" or value is number %}
{{ key | upper }} = {{ value }}
{% else %}
{{ key | upper }} = "{{ value }}"
{% endif %}
{% endfor %}



