[Unit]
Description=PowerDNS-Admin
After=network-online.target
[Service]
Type=simple
User=root
Group=root
ExecStart={{ pdns_admin_python_path }} {{pdns_admin_path}}/run.py
WorkingDirectory={{ pdns_admin_path }}
Environment="PATH={{ pdns_admin_path }}"
Environment="FLASK_APP=powerdnsadmin/__init__.py"
Environment="FLASK_CONF=../config.py"
Restart=always

[Install]
WantedBy=multi-user.target
